body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  padding-bottom:0px;
}

#username {
	float:right;
	width:30%;
}

#logoutForm {
	float:right;
	position:relative;
	top: 8px;
}

#greeting {
	padding-top:15px;
	float:right;
	color:#ffffff;
	margin-right:10px;
}

#greeting a:hover {
	text-decoration:none;
	color:#69f;
}

tr th {
text-align:center;
}

table, th, td {
border-radius:5px;
}

.nav li {

}

.nav li:hover {
background-color:#999;
color:#333;
}

.containerAccordian {
	float: left;
	width: 70%;
	color:#fff;
}

.containerEdit {
	float:left;
	width:10%;
}

.containerDelete {
	float:left;
	width:10%
}
.containerQR {
	float:left;
	width:10%;
}

.btn-success {
	margin-top: 5px;
}

.startButton {
	width:49%;
	background:#333;
	margin:auto;
	text-align:center;
	padding:25px;
	margin-bottom:10px;
	border-radius:4px;
	font-size:25px;
}

.startButton a {
	color:#fff
}

.startButton:hover {
	background:#999;
}

.startButton a:hover {
	color:#fff;
	text-decoration:none;
}

.buttonBox {
	width:55%;
	margin:auto;
}

#signinButton {
	float:right;
	margin-top:10px;
}

html, body {
	height:100%
}

.panel-heading {
	height:55px;
}
.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
}
.footer{
	height: 25px;
}
.text-muted{
	margin-bottom:-10px;
}

.labelOutline {
    width: 80%;
    border-radius: 20px;
    margin: auto;
    height: 320px;
    padding: 10px;
    background: #fff;
}
.labelBackground {
    width: 100%;
    border-radius: 20px;
    margin: 0px;
    height: 310px;
    background: #fff;
}

.qr {
	vertical-align: middle;
	float: left;
	display: block;
}

.labelText {
	font-size: 75px;
	margin: auto;
	color: black;
	height:33%;
	padding-top:100px;
}
.labelTextSmall {
	font-size: 30px;
	margin: auto;
	color: black;
	padding-top:100px;
	height:33%;
}